* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  overflow-x: hidden;
  background-color: #1d3557;
}

header {
  background-color: #1d3557;
}

#index-container,
#home-container,
#classes-container,
#contact-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#time-day,
.day,
.time {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.navbar {
  min-height: 7vh;
  display: flex;
  align-items: center;
  padding: 15px;
}

#nav-menu {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0 50px;
  font-size: 1em;
}

.nav-link {
  transition: 0.2s ease-out;
}

.nav-link:hover {
  color: #e63946;
}

#logo {
  font-size: 2em;
  color: white;
  text-decoration: none;
}

#hamburger {
  display: none;
  position: absolute;
  top: 38px;
  right: -8px;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 4px solid none;
  border-radius: 50%;
  overflow: hidden;
}

li {
  list-style: none;
}

li a {
  color: white;
  text-decoration: none;
}

span {
  font-size: 2em;
}

a span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  transition: 0.5s;
  line-height: 50px;
}

a span:nth-child(2) {
  background-color: #1d3557;
  color: white;
}

a span.active {
  transform: translateY(-100%);
}

h1,
h2 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 500px;
}

h1 {
  font-size: 4em;
  color: white;
  background-color: #e63946;
  border: 20px solid #e63946;
}

h2 {
  position: relative;
  left: 100px;
  font-size: 2.5em;
  font-weight: bolder;
  color: #e63946;
  background-color: white;
  border: 20px solid white;
}

h3 {
  font-size: 4em;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #f1faee;
}

.h3-trainers {
  font-size: 3.5em;
  text-align: center;
  margin: 20px;
}

#h3-timetable {
  margin: 50px 0 -60px 0;
  text-align: center;
}

#gif {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

#gif-img img {
  width: 100%;
  height: 500px;
  margin-top: 5%;
  object-fit: cover;
  border: 2px solid #e63946;
  box-shadow: 0 0 15px 5px #e63946;
  border-radius: 2%;
}

#about header,
#trainers header,
#classes header {
  background-color: #e63946;
}

#about-main,
#trainers-main {
  display: flex;
}

#maurice {
  max-width: 100%;
  object-fit: cover;
  height: calc(50vh - 100px);
}

#leo {
  background-image: url("/img/leo.jpg");
  padding-top: 130px;
  padding-left: 218px;
}

#kathy {
  background-image: url("/img/kathy.jpg");
  padding-top: 260px;
  padding-left: 280px;
}

#leo,
#kathy {
  background-size: cover;
  max-width: 100%;
  height: 100vh; /* Adjust the height to your preference */
  color: #e63946;
  font-size: 5em;
  font-weight: bolder;
  margin: 0;
}

.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.trainers-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.about-item,
.trainers-item {
  width: 33.33%;
}

.about-item img,
.trainers-item img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.about-item h3 {
  margin: 10%;
}

.about-item p,
.trainers-p {
  font-size: 1.3em;
  font-weight: 300;
  color: #f1faee;
  margin: 20px;
  text-align: justify;
  max-width: 700px;
}

.trainers-p {
  max-width: 100%;
}

#timetable {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  margin: 200px;
  color: white;
  border: 10px white;
  border-style: inset double;
  padding: 50px;
  margin-top: 120px;
}

.time-slot {
  color: black;
  border: 8px #e63946;
  border-top-style: inset;
  background-color: white;
  padding: 20px;
  text-align: center;
}

.time-slot:hover {
  cursor: pointer;
  color: #e63946;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px 100px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #1d3557;
}

.form-group {
  margin: 30px;
}

#h1-form {
  background-color: #1d3557;
  border: none;
  margin-bottom: 0;
}

label,
legend {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  color: white;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

input:not([type="radio"]),
textarea {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 1em;
  color: white;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid white;
  padding: 5px;
  letter-spacing: 1px;
  min-width: 500px;
}

fieldset {
  display: flex;
  padding: 5px;
}

fieldset label {
  font-size: 1em;
  margin: 9px 0 0 0;
}

fieldset input {
  margin: 12px;
}

fieldset label.radio-label:after {
  content: "";
}

#enquiry-select {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  width: 100%;
  background-color: transparent;
  color: #f1faee;
  margin: 10px;
  padding: 2px;
  border: none;
}

option {
  color: #f1faee;
  background-color: #1d3557;
}

input:hover,
textarea:hover {
  border-width: 3px;
}

textarea {
  min-height: 300px;
  resize: vertical;
}

#contact-button {
  color: #1d3557;
  font-weight: 800;
  width: 100%;
  padding: 10px;
}

#help {
  display: block;
  margin: 0 auto;
  margin-top: -30px;
  text-align: center;
}

#help-link {
  color: white;
}
#help-link:hover {
  text-decoration: none;
}

label[for]:after,
legend:after {
  content: "*";
  color: #e63946;
  margin-left: 5px;
  font-weight: bold;
}

label[for="message"]:after,
label[for="mobile"]:after {
  content: none;
}
.invalid {
  border-color: white;
  border-width: 2px;
}

.error-container {
  color: #e63946;
  font-size: 0.5em;
}

#timetable-mobile {
  display: none;
}

.expandable {
  min-height: 0;
  background: #1d3557;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 200ms;
}

.wrapper.open {
  grid-template-rows: 1fr;
}

#footer-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

footer p {
  margin: 0 20px;
  color: #f1faee;
  font-size: 0.8em;
}

#w3c img {
  margin-right: 165px;
}

#social-icons {
  display: flex;
  justify-content: center;
  font-size: 3em;
  gap: 20px;
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e63946;
    z-index: 9999; /* Make sure the navbar appears above other elements */
  }

  a span {
    line-height: 43px;
  }

  a span.active {
    background-color: #e63946;
  }

  a span:nth-child(2) {
    background-color: #e63946;
  }

  #hamburger {
    display: block;
    position: fixed;
    top: 6%;
  }

  #nav-menu {
    display: none;
  }

  #nav-menu.active {
    display: flex;
    position: fixed;
    left: 0;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #457b9d;
    width: 100%;
    height: 50%;
    text-align: center;
  }

  .nav-link {
    color: white;
  }

  .nav-item {
    margin: 15.2px 0;
  }

  h1,
  h2 {
    width: 300px;
  }

  h1 {
    font-size: 3em;
    margin-top: 15%;
  }

  h2 {
    font-size: 1.5em;
    left: 30px;
    width: 300px;
  }

  #gif-img img {
    height: 200px;
    margin-top: 35%;
  }

  #h3-about {
    margin-top: 30%;
    margin-bottom: 0;
  }

  #about-main {
    margin-bottom: 120px;
  }

  .about-item img {
    display: none;
  }

  .about-item p {
    margin: 10px 0;
  }

  #h3-trainers {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  #trainers-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    margin-top: 320px;
  }

  .trainer-content {
    width: 100%;
    max-width: 500px; /* Limit the maximum width of the content */
  }

  .about-item,
  .trainers-item {
    width: 100%;
    font-size: 0.78em;
  }

  .trainers-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .trainers-item:nth-child(2) {
    position: relative;
    bottom: 100%;
    z-index: 1;
  }

  #kathy {
    position: relative;
    bottom: initial;
    left: initial;
    z-index: 2;
    margin-top: -180%;
    padding: 38% 0 0 45%;
  }

  #leo {
    position: relative;
    top: 200%;
    padding: 40% 30% 0 0;
  }

  #kathy,
  #leo {
    font-size: 4em;
    height: 70vh;
  }

  .trainers-p {
    width: 90%;
    margin: 0 auto;
    margin-left: 12px;
  }

  #timetable {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .time-slot {
    text-align: center;
    margin: 5px;
    padding: 10px;
  }

  .time-slot:not(:first-child) {
    border-top: 1px solid #e63946;
  }

  .time-slot {
    flex: 1;
  }

  .timetable {
    font-weight: bold;
  }

  #h1-form {
    width: 100%;
    margin-top: 100px;
    text-align: center;
    font-size: 3em;
  }

  .form-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .form-group label {
    display: none;
  }

  input:focus,
  textarea:focus {
    background-color: #457b9d;
  }

  input:valid,
  textarea:valid {
    border-width: 3px;
  }

  input:invalid,
  textarea:invalid {
    border-color: #e63946;
  }

  input::placeholder,
  textarea::placeholder {
    color: white;
  }

  input:not([type="radio"]),
  textarea {
    min-width: 300px;
  }

  .form-group fieldset label {
    display: flex;
  }

  .form-group.enquiry {
    margin-top: 0;
  }

  textarea {
    min-height: 200px;
  }

  input[type="tel"] {
    display: none;
  }

  .textarea-group {
    margin-bottom: -20px;
  }

  #help {
    display: none;
  }

  #timetable {
    display: none;
  }

  #timetable-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20%;
  }

  #h3-timetable {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    font-size: 3.5em;
  }

  .day,
  .time,
  .time-slot {
    border-radius: 5px;
    margin: 0 10px;
  }

  .day {
    color: #f1faee;
    background-color: #457b9d;
    margin-top: 10px;
  }

  .time {
    background-color: #e63946;
  }

  #footer-details {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 2%;
  }

  #footer-details p {
    font-size: 0.7em;
  }

  #social-icons {
    margin-top: 10%;
    font-size: 2em;
  }

  #w3c img {
    margin: 0 auto;
  }
}
